[submodule "Zote/vendor/spdlog"]
	path = Zote/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zote/vendor/GLFW"]
	path = Zote/vendor/GLFW
	url = https://github.com/Jace-Schubert/glfw
